/* --- webfont --- */
@font-face {
  font-family:font_ns;
  font-weight:normal;
  src:url(../font/NotoSansKR-Regular.woff) format('woff');
}
@font-face {
  font-family:font_ns;
  font-weight:300;
  src:url(../font/NotoSansKR-Medium.woff) format('woff');
}
@font-face {
  font-family:font_ns;
  font-weight:bold;
  src:url(../font/NotoSansKR-Bold.woff) format('woff');
}
@font-face {
  font-family:font_sw;
  font-weight:normal;
  src:url(../font/Subway-SixInch.woff) format('woff');
}
html {
  font-size: 20px;
}
body {
  box-sizing: border-box;
  font-size: 1rem;
}
header {
  position : fixed;
  top : 0;
  left : 0;
  width : 100%;
  z-index : 1;
  background : #FFF;
}
header > h1 > a {
  display : block;
  height : 3rem;
  background : url(../images/ico_logo_app.png) no-repeat center / 6rem auto;
}
header > button.btn_sidemenu {
  position : absolute;
  top : 0;
  left : 0;
  width : 3rem;
  height : 3rem;
  background: url(../images/ico_asidemenu.png) no-repeat center / 1.05rem auto;
}
main {
  margin-top : 3rem;
}
.visual > img {
  width : 100%;
}
.section_menu {
  /* box-sizing : border-box; */
  padding : 0 .75rem;
  height : 15.77rem;
  background : #F6F6F6;
}
.section_menu > .menu_wrapper {
  /* box-sizing : border-box; */
  display : flex;
  justify-content: center;
  align-items: center;
  position : relative;
  padding : 0 .33rem;
  top : -.78rem;
  left : 0;
  height : 10.75rem;
  border-radius : 1.5rem 0;
  background : #FFF;
}
.section_menu > .menu_wrapper .menu {
  position : relative;
  width : 50%;
  height : 7.25rem;
}
.section_menu > .menu_wrapper .menu > .menu_name {
  display: flex;
  justify-content: center;
}
.section_menu > .menu_wrapper .menu > .menu_name > span {
  padding : .3rem .7rem .05rem .7rem;
  background : url(../images/bu_deco.png) no-repeat left top / 1.5rem auto;
  font-weight : bold;
  font-size : .8rem;
  font-family : 'font_ns', 'sans-serif';
}
.section_menu > .menu_wrapper .menu > p {
  margin-bottom : .7rem;
  font-weight : 300;
  font-size : .7rem;
  font-family :  'font_ns','sans-serif';
  color : #aaa;
  text-align : center;
}
.section_menu > .menu_wrapper .menu > i {
  display : block;
  height : 3.7rem;
}
.section_menu > .menu_wrapper .menu1 > i {
  background : url(../images/ico_fastsub.png) no-repeat center / auto 100%;
}
.section_menu > .menu_wrapper .menu2 > i {
  background : url(../images/ico_homesub.png) no-repeat center / auto 100%;
}
.section_menu > .menu_wrapper .menu > a {
  display : inline-block;
  position : absolute;
  top : 0;
  left : 0;
  width : 100%;
  height : 100%;
}
.section_menu > .menu_wrapper > .center_line {
  display : inline-block;
  position : absolute;
  top : center;
  left : center;
  width : 1px;
  height : 7.25rem;
  background : #eee;
}
footer {
  background : #292929;
  padding-bottom : .7rem;
}
footer > .foot_menu_wrapper {
  border-bottom : 2px solid #3b3b3b;
  margin-bottom : 1.25rem;
}
footer > .foot_menu_wrapper > ul.foot_menu {
  display : flex;
  justify-content : center;
  align-items: center;
}
footer > .foot_menu_wrapper > ul.foot_menu > li{
  position : relative;
  margin-left : .5rem;
  padding-left : .5rem;
}
footer > .foot_menu_wrapper > ul.foot_menu > li:first-child{
  margin-left : 0;
  padding-left : 0;
}
footer > .foot_menu_wrapper > ul.foot_menu > li::before {
  content : '';
  display : inline-block;
  position : absolute;
  top : 1rem;
  left : 0;
  width : 2px;
  height : .65rem;
  background : #3b3b3b;
}
footer > .foot_menu_wrapper > ul.foot_menu > li:first-child::before {
  content : none;
}

footer > .foot_menu_wrapper > ul.foot_menu a {
  display : inline-flex;
  justify-content : center;
  align-items : center;
  height : 2.6rem;
}
footer > .foot_menu_wrapper > ul.foot_menu span,
footer > .foot_menu_wrapper > ul.foot_menu strong {
  display : inline-block;
  font-size : .65rem;
  font-family : 'font_ns', 'sans-serif';
  color : #999;
}
footer > .sns_menu_wrapper {
  margin-bottom : .9rem;
}
footer ul.sns_menu {
  display : flex;
  justify-content : center;
  align-items : center;
}
footer ul.sns_menu > li {
  margin : 0 .3rem;
}
footer ul.sns_menu > li > a {
  display : inline-block;
  width : 2.25rem;
  height : 2.25rem;
}
footer ul.sns_menu > li > .a_instagram {
  background : url(../images/ico_instagram.png) no-repeat 0 0 / 100% auto;
}
footer ul.sns_menu > li > .a_facebook {
  background : url(../images/ico_facebook.png) no-repeat 0 0 / 100% auto;
}
footer address {
  display : flex;
  justify-content: center;
  margin-bottom : .15rem;
  font-size : .65rem;
  font-family : 'font_ns', 'sans-serif';
  color : #666;
}
footer .owner_profile {
  font-size : 0;
}
footer .owner_profile > .profile1,
footer .owner_profile > .profile2 {
  display : flex;
  justify-content : center;
}
footer .owner_profile > .profile1  > span {
  position : relative;
  padding-left : .3rem;
  margin-left : .3rem;
  font-size : .65rem;
  font-family : 'font_ns', 'sans-serif';
  letter-spacing : -0.015em;
  color : #666;
}
footer .owner_profile > .profile1 > span:first-child {
  padding-left : 0;
  margin-left : 0;
}
footer .owner_profile > .profile1  > span::before {
  content : '';
  top : .2rem;
  left : 0;
  display : block;
  position : absolute;
  width : 1px;
  height : .65rem;
  background : #666;
}
footer .owner_profile > .profile1  > span:first-child::before {
  content : none;
}
footer .owner_profile > .profile2  > span {
  font-size : .65rem;
  font-family : 'font_ns', 'sans-serif';
  letter-spacing : -0.015em;
  color : #666;
}
footer .copyright {
  padding : .65rem .75rem 0;
  font-size : .6rem;
  font-family : 'font_sw', 'sans-serif';
  letter-spacing : 0.005em;
  color : #666;
  text-align : center;
}

.dim {
  position : fixed;
  top : 0;
  bottom : 0;
  left : 0;
  right : 0;
  background : #000;
  z-index : 2;
  opacity : 0;
  pointer-events : none;
}
.dim.close {
  pointer-events : none;
  animation : dim_close .5s ease;
  animation-fill-mode : forwards;
}
@keyframes dim_close {
  0% {
    opacity : .8;
  }
  100% {
    opacity : 0;
  }
}
.dim.open {
  pointer-events : all;
  animation : dim_open .5s ease;
  animation-fill-mode : forwards;
}
@keyframes dim_open {
  0% {
    opacity : 0;
  }
  100% {
    opacity : .8;
  }
}

.sidebar_wrapper {
  transition : 2s;
  overflow : auto;
  position : fixed;
  top : 0;
  bottom : 0;
  left : -100%;
  right : 100%;
  z-index : 3;
  margin-right : 1.5rem;
  background : #F6F6F6;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.sidebar_wrapper.close {
  animation : sidebar_close .5s ease;
  animation-fill-mode : forwards;
}
@keyframes sidebar_close {
  0% {
    left : 0;
    right : 0;
  }
  100% {
    left : -100%;
    right : 100%;
  }
}
.sidebar_wrapper.open {
  animation : sidebar_open .5s ease;
  animation-fill-mode : forwards;
}
@keyframes sidebar_open {
  0% {
    left : -100%;
    right : 100%;
  }
  100% {
    left : 0;
    right : 0;
  }
}

.sidebar_wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.sidebar_wrapper > .side_header {
  padding-bottom : 4.45rem;
  background : #009223;
}
.sidebar_wrapper > .side_header > .side_sec1 {
  position : relative;
  display : flex;
  justify-content : center;
  align-items : center;
  padding : .5rem 2.5rem 1rem 1.5rem;
}
.sidebar_wrapper > .side_header > .side_sec1 > a.side_logo {
  flex : 1;
  height : 2rem;
  background : url(../images/ico_logo_sidemenu.png) no-repeat left center / 4.4rem auto;
}
.sidebar_wrapper > .side_header > .side_sec1 > a.settings {
  width : 2rem;
  height : 2rem;
  background : url(../images/ico_setting.png) no-repeat center / 2rem auto;
}
.sidebar_wrapper > .side_header > .side_sec1 > .side_close {
  position : absolute;
  top : .5rem;
  right : .5rem;
  width : 2rem;
  height : 2rem;
  background : url(../images/ico_close.png) no-repeat center / 1.35rem auto;
}
.sidebar_wrapper > .side_header > .side_sec2 {
  padding : 1.2rem 1.5rem 0;
}
.sidebar_wrapper > .side_header > .side_sec2 > p {
  margin-bottom : 1.25rem;
  line-height : 1.316em;
  font-size : .95rem;
  font-family : 'font_ns', 'sans-serif';
  color : #fff;
}
.sidebar_wrapper > .side_header > .side_sec2 > .sign-menus {
  display : flex;
}
.round_btn {
  flex : 1;
  height : 2rem;
  border-radius : 1.5rem;
  border-width : 2px;
  border-style : solid;
  text-align : center;
  line-height : 2.1rem;
  letter-spacing: -0.05em;
  font-weight : 300;
  font-size : .9rem;
  font-family : 'font_ns', 'sans-serif';
}
.sign_in {
  margin-right : .5rem;
  border-color : #ffc300;
  background : #ffc300;
  color : #fff;
  
}
.sign_up {
  border-color : #fff;
  background : #fff;
  color : #333;
}
.sidebar_wrapper > .menu_wrapper {
  position : relative;
  padding : 0 .75rem;
  top : -2.25rem;
  left : 0;
}
.sidebar_wrapper > .menu_wrapper > .quick_menus {
  box-sizing : border-box;
  margin-bottom : .75rem;
  padding : 1.25rem 1rem;
  border-radius : 1.5rem 0;
  background : #FFF;
  height : 9.9rem;
}
.sidebar_wrapper > .menu_wrapper > .quick_menus > ul {
  display : flex;
  align-content : space-between;
  flex-wrap : wrap;
  height : 100%;
}
.sidebar_wrapper > .menu_wrapper > .quick_menus > ul > li {
  flex : 1 1 33.33%;
}
.sidebar_wrapper > .menu_wrapper > .quick_menus > ul > li > a {
  display : block;
  padding-top : 1.95rem;
  text-align : center;
  font-weight : 700;
  font-size : .6rem;
  font-family : 'font_ns', 'sans-serif';
  color : #292929;
  line-height : .96rem;
}

.sidebar_wrapper > .menu_wrapper > .sub_menus > ul.parent_menu > li {
  margin-bottom : .1rem;
}
.sidebar_wrapper > .menu_wrapper > .sub_menus > ul.parent_menu > li:last-child {
  margin-bottom : 0rem;
}
.sidebar_wrapper > .menu_wrapper > .sub_menus > ul.parent_menu > li:first-child > span {
  border-radius : 1.5rem 0 0 0;
}
.sidebar_wrapper > .menu_wrapper > .sub_menus > ul.parent_menu > li:last-child > span {
  border-radius : 0 0 1.5rem 0;
  transition : .3s;
}
.sidebar_wrapper > .menu_wrapper > .sub_menus > ul.parent_menu > li.active:last-child > span {
  border-radius : 0;
}

.sidebar_wrapper > .menu_wrapper > .sub_menus > ul.parent_menu > li > span {
  display : block;
  position : relative;
  box-sizing : border-box;
  padding : 0 1rem 0 3rem;
  border-style : solid;
  border-color : #fff;
  height : 3rem;
  font-weight : bold;
  font-size : .8rem;
  font-family : 'font_ns', 'sans-serif';
  color : #292929;
  line-height : 3.000em;
}
.sidebar_wrapper > .menu_wrapper > .sub_menus > ul.parent_menu > li.active > span::before {
  transform : rotate(135deg);
  background : #009223;
}
.sidebar_wrapper > .menu_wrapper > .sub_menus > ul.parent_menu > li.active > span::after {
  transform : rotate(-135deg);
  background : #009223;
}
.sidebar_wrapper > .menu_wrapper > .sub_menus > ul.parent_menu > li > span::before {
  content : '';
  position : absolute;
  top : 25px;
  right : 25px;
  width : 2px;
  height : 11px;
  transform : rotate(45deg);
  background : #bbb;
  transition : .3s;
}
.sidebar_wrapper > .menu_wrapper > .sub_menus > ul.parent_menu > li > span::after {
  content : '';
  position : absolute;
  top : 25px;
  right : 32px;
  width : 2px;
  height : 11px;
  transform : rotate(-45deg);
  background : #bbb;
  transition : .3s;
}
.sidebar_wrapper > .menu_wrapper > .sub_menus > ul.parent_menu > li.active:last-child > ul.children {
  border-radius : 0 0 1.5rem 0;
}
.sidebar_wrapper > .menu_wrapper > .sub_menus > ul.parent_menu > li.active > ul.children {
  padding : 1.25rem 0;
}
.sidebar_wrapper > .menu_wrapper > .sub_menus > ul.parent_menu > li > ul.children {
  overflow : hidden;
  background : #fcfcfc;
  padding : 0;
  transition : .3s;
}
.sidebar_wrapper > .menu_wrapper > .sub_menus > ul.parent_menu > li.active > ul.children > li > a {
  height : 1.6rem;
  color : #292929;
}
.sidebar_wrapper > .menu_wrapper > .sub_menus > ul.parent_menu > li > ul.children > li > a {
  display : block;
  padding-left : 3rem;
  height : 0;
  font-size : .7rem;
  font-family : 'font_ns', 'sans-serif';
  color : #fcfcfc;
  line-height : 2em;
  transition : .3s;
}


