<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List1</title>
  <link rel="stylesheet" href="css/default.css">
  <link rel="stylesheet" href="css/list1.css">
</head>

<body>
  <section id="section1">
    <h1 class="h1">금융</h1>
    <ul>
      <li><a href="#" class="li1-btn1"><p>나만의 금융혜택</p></a></li>
      <li><a href="#" class="li1-btn1"><p>단기카드대출(현금서비스)</p></a></li>
      <li><a href="#" class="li1-btn1"><p>장기카드대출(카드론)</p></a></li>
      <li><a href="#" class="li1-btn1"><p>일부결제금액 이월약정(리볼빙)</p></a></li>
      <li><a href="#" class="li1-btn1"><p>일반대출(신용대출)</p></a></li>
      <li><a href="#" class="li1-btn1 li1-bt1-lastchild"><p>사업자금대출</p></a></li>
    </ul>
  </section>
  <section id="section2">
    <h1 class="h1"><p>생활요금 청구서/자동납부</h1>
    <ul>
      <li><a href="#" class="li1-btn1"><p>My BILL&PAY(전자청구서)</p></a></li><!-- 
    --><li class="li-narrow"><a href="#" class="li1-btn1 "><p>아파트관리비</p></a></li><!-- 
    --><li class="li-narrow"><a href="#" class="li1-btn1 "><p>도시가스요금</p></a></li><!-- 
    --><li class="li-narrow"><a href="#" class="li1-btn1 li1-bt1-lastchild"><p>스쿨뱅킹</p></a></li><!-- 
    --><li class="li-narrow"><a href="#" class="li1-btn1 li1-bt1-lastchild"><p>전화요금</p></a></li><!-- 
--></ul>
  </section>
</body>

</html>