<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List2</title>
  <link rel="stylesheet" href="css/default.css">
  <link rel="stylesheet" href="css/list2.css">
</head>
<body>
  <section>
    <ul>
      <li><a href="#"><p class="newEvent">티몬소식</p><i></i></a></li>
      <li><a href="#"><p>TMONEY관리</p><i></i></a></li>
      <li><a href="#"><p>고객센터</p><i></i></a></li>
      <li><a href="#"><p>제안하기</p><i></i></a></li>
      <li><a href="#"><p>최근 본 상품</p><i></i></a></li>
      <li><a href="#"><p>나의 관심상품</p><i></i></a></li>
      <li><a href="#"><p>룰렛이벤트</p><i></i></a></li>
      <li><a href="#"><p></p></a></li>
    </ul>
  </section>
</body>
</html>