<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="css/default.css">
  <link rel="stylesheet" href="css/list4.css">
</head>

<body>
  <section>
    <h1 class="h1">최근이용내역</h1>
    <ul class="list_type1">
      <li>
        <a href="">
          <div>
            <p>코리아세븐-인사점</p>
            2019.11.18
          </div>
          <div>
            <p>3,600 원</p>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div>
            <p>코리아세븐-인사점</p>
            2019.11.18
          </div>
          <div>
            <p>3,600 원</p>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div>
            <p>(주)이랜드월드패션아울렛</p>
            2019.11.18
          </div>
          <div>
            <p>3,600 원</p>
            <span class="ico">분할납부신청</span>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div>
            <p>코리아세븐-인사점</p>
            2019.11.18
          </div>
          <div>
            <p>3,600 원</p>
          </div>
        </a>
      </li>
    </ul>
  </section>
</body>

</html>
