<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
      html {
        font-size: 20px;
      }
      body {
        font-size: 1rem;
        padding: 1.5rem;
      }
      div {
        text-align: center;
      }
      button {
        width: 15rem;
        height: 4rem;
        border: 0.05rem solid red;
        font-size: 1rem;
      }
      .pic {
        text-align: center;
      }
      .pic img {
        width: 100%;
        max-width: 800px;
      }
    </style>
  </head>
  <body>
    <div>
      <button>버튼</button>
    </div>
    <div class="pic">
      <img src="images/actor.jpg" alt="연예인네명">
      <p>연예인이다~~</p>
    </div>

  </body>
</html>