<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="css/default.css">
  <link rel="stylesheet" href="css/form2.css">
</head>
<body>
<form class="comment">
  <fieldset>
    <legend>댓글달기</legend>
    <div class="comment_box">
      <div>
          <textarea id="txt1"></textarea>
          <label for="txt1">댓글을 작성하려면 <span>로그인</span> 해주세요.</label>
      </div>
      <button>등록</button>
    </div>
  </fieldset>
</form>
<div class="comment_list">
  <p><span>0</span>개의 댓글이 있습니다</p>
</div>
</body>
</html>
