<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List5</title>
  <link rel="stylesheet" href="css/default.css">
  <link rel="stylesheet" href="css/list5.css">
  <script src="js/list5.js" defer></script>
</head>
<body>
  <ul>
    <li class="card new-item">
      <img src="../images/@20200824qwfparstzxcv.png" alt="shopping_item1">
      <div class="card-descript">
        <p class="p-maker">hem</p>
        <h1>key 사이드 테이블, 블랙(2colors)</h1>
        <p class="p-price">380000</p>
      </div>
    </li>
    <li class="card best-item">
      <img src="../images/@20200824zxcvarstqwfp.png" alt="shopping_item2">
      <div class="card-descript">
        <p class="p-maker">Carl hansen&Son</p>
        <h1>BM1160테이블</h1>
        <p class="p-price">6040000</p>
      </div>
    </li>
    <li class="card new-item">
      <img src="../images/@20200824qwfparstzxcv.png" alt="shopping_item1">
      <div class="card-descript">
        <p class="p-maker">hem</p>
        <h1>key 사이드 테이블, 블랙(2colors)</h1>
        <p class="p-price">380000</p>
      </div>
    </li>
    <li class="card best-item">
      <img src="../images/@20200824zxcvarstqwfp.png" alt="shopping_item2">
      <div class="card-descript">
        <p class="p-maker">Carl hansen&Son</p>
        <h1>BM1160테이블</h1>
        <p class="p-price">6040000</p>
      </div>
    </li>
    <li class="card new-item">
      <img src="../images/@20200824qwfparstzxcv.png" alt="shopping_item1">
      <div class="card-descript">
        <p class="p-maker">hem</p>
        <h1>key 사이드 테이블, 블랙(2colors)</h1>
        <p class="p-price">380000</p>
      </div>
    </li>
    <li class="card best-item">
      <img src="../images/@20200824zxcvarstqwfp.png" alt="shopping_item2">
      <div class="card-descript">
        <p class="p-maker">Carl hansen&Son</p>
        <h1>BM1160테이블</h1>
        <p class="p-price">6040000</p>
      </div>
    </li>
    <li class="card new-item">
      <img src="../images/@20200824qwfparstzxcv.png" alt="shopping_item1">
      <div class="card-descript">
        <p class="p-maker">hem</p>
        <h1>key 사이드 테이블, 블랙(2colors)</h1>
        <p class="p-price">380000</p>
      </div>
    </li>
    <li class="card best-item">
      <img src="../images/@20200824zxcvarstqwfp.png" alt="shopping_item2">
      <div class="card-descript">
        <p class="p-maker">Carl hansen&Son</p>
        <h1>BM1160테이블</h1>
        <p class="p-price">6040000</p>
      </div>
    </li>
    <li class="card new-item">
      <img src="../images/@20200824qwfparstzxcv.png" alt="shopping_item1">
      <div class="card-descript">
        <p class="p-maker">hem</p>
        <h1>key 사이드 테이블, 블랙(2colors)</h1>
        <p class="p-price">380000</p>
      </div>
    </li>
    <li class="card best-item">
      <img src="../images/@20200824zxcvarstqwfp.png" alt="shopping_item2">
      <div class="card-descript">
        <p class="p-maker">Carl hansen&Son</p>
        <h1>BM1160테이블</h1>
        <p class="p-price">6040000</p>
      </div>
    </li>
    <li class="card new-item">
      <img src="../images/@20200824qwfparstzxcv.png" alt="shopping_item1">
      <div class="card-descript">
        <p class="p-maker">hem</p>
        <h1>key 사이드 테이블, 블랙(2colors)</h1>
        <p class="p-price">380000</p>
      </div>
    </li>
    <li class="card best-item">
      <img src="../images/@20200824zxcvarstqwfp.png" alt="shopping_item2">
      <div class="card-descript">
        <p class="p-maker">Carl hansen&Son</p>
        <h1>BM1160테이블</h1>
        <p class="p-price">6040000</p>
      </div>
    </li>
    <li class="card new-item">
      <img src="../images/@20200824qwfparstzxcv.png" alt="shopping_item1">
      <div class="card-descript">
        <p class="p-maker">hem</p>
        <h1>key 사이드 테이블, 블랙(2colors)</h1>
        <p class="p-price">380000</p>
      </div>
    </li>
    <li class="card best-item">
      <img src="../images/@20200824zxcvarstqwfp.png" alt="shopping_item2">
      <div class="card-descript">
        <p class="p-maker">Carl hansen&Son</p>
        <h1>BM1160테이블</h1>
        <p class="p-price">6040000</p>
      </div>
    </li>
    <li class="card new-item">
      <img src="../images/@20200824qwfparstzxcv.png" alt="shopping_item1">
      <div class="card-descript">
        <p class="p-maker">hem</p>
        <h1>key 사이드 테이블, 블랙(2colors)</h1>
        <p class="p-price">380000</p>
      </div>
    </li>
    <li class="card best-item">
      <img src="../images/@20200824zxcvarstqwfp.png" alt="shopping_item2">
      <div class="card-descript">
        <p class="p-maker">Carl hansen&Son</p>
        <h1>BM1160테이블</h1>
        <p class="p-price">6040000</p>
      </div>
    </li>
  </ul>
</body>
</html>