<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form1</title>
  <link rel="stylesheet" href="css/default.css">
  <link rel="stylesheet" href="css/tab1.css">
  <script src="js/tab1.js" defer></script>
</head>
<body>
  <section>
    <div id="myReview" class="panel">
      <p>1</p>
    </div>
    <span></span>
    <div id="myLike" class="panel">
      <p>0</p>
    </div>
  </section>
  <section>
    <nav id="nav1">
      <ul>
        <li><p class="nav1-p-active">미작성 리뷰</p></li>
        <li><p>내가 쓴 리뷰</p></li>
        <li><p>좋아요한 리뷰</p></li>
      </ul>
    </nav>
  </section>
</body>
</html>