html {
  font-size: 20px;
}

body {
  padding: .9rem 1.33rem 1.5rem;
  width : 100vw;
  box-sizing: border-box;
  background: #F7F7F9;
  font-size: 1rem;
}
#section1 {
  margin-bottom : .65rem;
}
.h1 {
  font: bold 0.88rem 'Noto Sans KR';
}
.h1:first-child{
  margin-bottom: .6rem;
}
.h1:last-child{
  margin-bottom: .58rem;
}
.li1-btn1 {
  display : flex;
  justify-content : center;
  align-items : center;
  margin-bottom : .33rem;
  height : 2.26rem;
  background : #FFFFFF;
}
.li1-btn1 > p:hover{
  background : #222;
  color : #FFF;
}
.li1-btn1 > p {
  position : relative;
  padding : .8rem;
  width : 100%;
  font: .75rem 'Noto Sans KR';
  color : #000000;
}
.li1-btn1 > p::after{
  content : '';
  display : block;
  position : absolute;
  top:0;
  left:0;
  width : 100%;
  height : 100%;
  background : url(../images/bu_arrow_right.png) no-repeat calc(100% - .8rem) center / auto 12.94px;
}
.li-narrow {
  display : inline-block;
  width : calc(50% - .2rem);
}

.li1-bt1-lastchild{
  margin-bottom : 0;
}
.li-narrow:nth-of-type(even){
  margin-right : .4rem;
}


