html { font-size: 20px;}
body { font-size: 1rem;}

body { padding: 1.33rem; background: #F6F6F6;}
section { padding: .6rem 0 0 .83rem; height:calc( 100vh - 2.66rem); box-sizing: border-box; background: #fff;}
.h1 { padding: 0 0 .47rem; font-size: .75rem; color:#000;}
.h1:after { content: ""; display:inline-block; margin: 0 0 0 .3rem; width: .21rem; height: .43rem; background: url(../images/bu_arrow_right.png) no-repeat right center / 100% auto;}

.list_type1 a { display: flex; justify-content: space-between; padding: .57rem 0 0; height: 3.01rem; border-bottom: 1px solid #E7E7E7; box-sizing: border-box;}

.list_type1 a div:first-child { font-size: .58rem; color:#8f8f8f;}
.list_type1 a div:first-child p { overflow: hidden; width: 7.5rem; font-size: .76rem; color:#000; white-space: nowrap; text-overflow: ellipsis;}
.list_type1 a div:last-child { padding: 0 .74rem 0 0; text-align: right; line-height: 1;}
.list_type1 a div:last-child p {font-size: .83rem; color:#000; font-weight: bold;}
.list_type1 a div:last-child .ico { display: inline-block; padding: 0 .28rem; border: 2px solid #0A7DEA; border-radius: .16rem; height: .75rem; line-height: .75rem; font-size:.41rem; color:#0A7DEA;}
