html {
  font-size: 20px;
}
body {
  width : 100vw;
  box-sizing: border-box;
  background: #FFFFFF;
  font-size: 1rem;
}
section:first-child {
  display : flex;
  position : relative;
  justify-content : space-between;
  align-items : center;
  height: 4.05rem;
}
.panel{
  margin : 0 auto;
}
.panel > p {
  display : flex;
  justify-content: center;
  font : bold 1.58rem 'Noto Sans KR';
}
#myReview::after {
  content : '내가 쓴 리뷰';
  display : block;
  margin : 0 auto;
  padding : 0 .46rem;
  background : url(../images/ico_review.png) no-repeat left calc(50% + .05rem) / .41rem auto;
  font : .51rem 'Noto Sans KR';
}
section > span{
  position : absolute;
  top : 1.05rem;
  left : 50%;
  border-right:#E0E2E1 solid 1px;
  height: 2.02rem;
}
#myLike::after {
  content : '내가 받은 좋아요';
  display : block;
  margin : 0 auto;
  padding : 0 .46rem;
  background : url(../images/ico_like.png) no-repeat left calc(50% + .05rem) / .41rem auto;
  font : .51rem 'Noto Sans KR';
}
#nav1 {
  border : 1px solid #D3D3D5;
  border-right : 0px;
  border-left : 0px;
  width : 100%;
  
}
#nav1 > ul{
  display : flex;
  justify-content : center;
  align-items : center;
}
#nav1 > ul > li {
  flex : 1;
}
#nav1 > ul > li{
  padding : 0 .32rem;
}
#nav1 > ul > li:first-child{
  padding : 0 0 0 .63rem;
}
#nav1 > ul > li:last-child{
  padding :  0 .63rem 0 0 ;
}
#nav1 > ul > li > p {
  display : flex;
  justify-content : center;
  align-items : center;
  padding : .53rem 0 .48rem 0;
  width : 100%;
  font : .6rem 'Noto Sans KR';
}
#nav1 > ul > li > p:hover{
  cursor : pointer;
}
.nav1-p-active {
  padding : .53rem 0 calc(.48rem - 1.5px) 0;
  border-bottom : #FF6100 solid 1.5px;
  color : #FF6100;
}